<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="DWEBS_UD3_Login">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/res"/>
        <property name="java-output-path" value="/DWEBS_UD3_Login/build/classes"/>
        <property name="context-root" value="DWEBS_UD3_Login"/>
    </wb-module>
</project-modules>
