<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="DWEBS_UD4_Movies">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <wb-resource deploy-path="/WEB-INF/lib" source-path="/lib"/>
        <property name="context-root" value="DWEBS_UD4_Movies"/>
        <property name="java-output-path" value="/DWEBS_UD4_Movies/build/classes"/>
    </wb-module>
</project-modules>
